{% block ckeditor5_widget %}
	<textarea {{ block('widget_attributes') }}>
		{% if value is defined and value is not null %}
			{{ value }}
		{% endif %}
	</textarea>
	{% set editor_type = attr[constant('App\\Form\\Field\\CKEditor5Type::DATA_EDITOR_TYPE')]|default(null) %}
	{% if editor_type is same as(enum('App\\Enum\\EditorType').FEATURE_RICH.value) %}
		<div id="ck-word-count">
			<div class="ck-update">
				<div class="ck-update__controls">
					<span class="ck-update__words">
						{{ 'ckeditor.wordcount.label'|trans([], 'forms') }}
						<span class="count"></span>
					</span>
					<svg class="ck-update__chart" viewbox="0 0 40 40" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
						<circle stroke="hsl(0, 0%, 93%)" stroke-width="3" fill="none" cx="20" cy="20" r="17"/>
						<circle class="ck-update__chart__circle" stroke="hsl(202, 92%, 59%)" stroke-width="3" stroke-dasharray="134,534" stroke-linecap="round" fill="none" cx="20" cy="20" r="17"/>
						<text class="ck-update__chart__characters" fill="hsl(202, 92%, 59%)" x="50%" y="50%" dominant-baseline="central" text-anchor="middle"></text>
					</svg>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
