{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
        <div>
        <div class="main-container">
            <div class="editor-container editor-container_classic-editor editor-container_include-style" id="editor-container">
                <div class="editor-container__editor">
                    <div id="editor"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('ckeditor5/main.js') }}"></script>
{% endblock %}