.form-wrapper.login > .content {
  & .logged-as {
    margin-bottom: 20px;
  }
  & .remember-me {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  & .new-here {
    padding-top: 15px;
    text-align: center;
  }
}
