{# templates/bundles/EasyAdminBundle/crud/field/ckeditor.html.twig #}
{% block _Post_custom_content_widget %}
    <textarea id="editor" name="Post[content]">
        {% if attr['data-content'] is defined and attr['data-content'] is not null %}
            {{ attr['data-content'] }}
        {% endif %}
    </textarea>

    <div id="ck-wordcount">
        <div class="ck-update">
            <div class="ck-update__controls">
                <span class="ck-update__words"></span>
                <svg class="ck-update__chart" viewbox="0 0 40 40" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="hsl(0, 0%, 93%)" stroke-width="3" fill="none" cx="20" cy="20" r="17" />
                    <circle class="ck-update__chart__circle" stroke="hsl(202, 92%, 59%)" stroke-width="3" stroke-dasharray="134,534" stroke-linecap="round" fill="none" cx="20" cy="20" r="17" />
                    <text class="ck-update__chart__characters" fill="hsl(202, 92%, 59%)" x="50%" y="50%" dominant-baseline="central" text-anchor="middle"></text>
                </svg>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('ckeditor/build/ckeditor.js') }}"></script>
        {{ encore_entry_script_tags('ckeditor-init') }}
    {% endblock %}
{% endblock %}