{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row">
			{{ 'hello.admin'|trans({'%admin%': app_author}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'user.send_registration_request'|trans({'%username%': username}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{% if user_motivation is defined and user_motivation is not null %}
				{{ user_motivation }}
			{% else %}
				Error: user_motivation not found.
			{% endif %}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'ensure_user_has_been_verified'|trans([], 'emails') }}
		</td>
	</tr>
{% endblock %}
