{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row">
			{{ 'hello.admin'|trans({'%admin%': app_author}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'user_is_verified.text'|trans({'%username%': username}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'review_and_validate_user_application'|trans({'%username%': username}, 'emails') }}
		</td>
	</tr>
{% endblock %}
