{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row">
			{{ 'hello.admin'|trans({'%admin%': app_author}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'user_deleted.text'|trans({'%username%': username, '%user_deleted_at%': user_deleted_at}, 'emails') }}
		</td>
	</tr>
{% endblock %}
