{% extends 'emails/base.html.twig' %}

{% block body %}
	<tr>
		<td class="first row">
			{{ 'hello.admin'|trans({'%admin%': app_author}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ 'user.send_registration_request'|trans({'%username%': username}, 'emails') }}
		</td>
	</tr>
	<tr>
		<td class="row">
			{{ user_motivation }}
		</td>
	</tr>
{% endblock %}
