<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block page_title %}
				{{ app_name }}
			{% endblock %}
		</title>
		<meta name="description" content="Bienvenue, parcourez le blog pour y découvrir l'actu tech.">
		<link rel="icon" href="">
	</head>
	<body>
		{% for label, message in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
					<p>{{ message }}</p>
				</div>
			{% endfor %}
		{% endfor %}

		{% block menu %}
			{% include "components/navbar.html.twig" %}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}
			{% include "components/footer.html.twig" %}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</body>
</html>
