<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Bienvenue, parcourez le blog pour y découvrir l'actu tech.">
		<title>
			{% block page_title %}
				{{ app_name }}
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link rel="icon" href="">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block alerts %}
			{% include "components/alerts.html.twig" %}
		{% endblock %}

		{% block menu %}
			{% include "components/main-navbar.html.twig" %}
			{% include "components/categories-navbar.html.twig" %}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}
			{% include "components/footer.html.twig" %}
		{% endblock %}
	</body>
</html>
